@font-face {
  font-family: "MasonChronicles";
  src: url("../fonts/MasonChronicles.woff") format("woff");
  src: url("../fonts/mason_chronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  outline: none;
  color: #fff;
}

body {
  background: #141218;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: right 10% top 45%;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 95%;
  max-width: 1134px;
  margin: 0 auto;
}

.header .m-menu,
.header .close {
  display: none;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.header-wrapper .menu {
  display: flex;
  margin: 0 auto 0 50px;
}
.header-wrapper .menu-item {
  list-style-type: none;
}
.header-wrapper .menu-link {
  text-decoration: none;
  margin: 0 14px;
  font-size: 14px;
  line-height: 16px;
}
.header-wrapper .m-menu {
  display: none;
}
.header-wrapper .social-link {
  margin: 10px;
}

.main-screen {
  padding: 90px 0 0;
}
.main-screen-content {
  display: flex;
  align-items: center;
  margin: 0 0 85px;
}
.main-screen-content .main .genre {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  animation-delay: 0.1s;
}
.main-screen-content .main .rating {
  display: flex;
  align-items: center;
  margin-top: 16px;
  animation-delay: 0.3s;
}
.main-screen-content .main .rating-grade {
  font-size: 12px;
  line-height: 14px;
  padding-left: 9px;
}
.main-screen-content .main-title {
  font-family: "MasonChronicles", serif;
  font-weight: 400;
  font-size: 76px;
  line-height: 89px;
  padding-top: 10px;
  animation-delay: 0.5s;
}
.main-screen-content .main-desc {
  max-width: 458px;
  font-size: 14px;
  line-height: 150%;
  padding: 10px 0 40px;
  animation-delay: 0.7s;
}
.main-screen-content .main-btn {
  display: inline-block;
  padding: 22px 72px;
  background-color: #9D2929;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  animation-delay: 0.8s;
}
.main-screen-content .play {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #9D2929;
  border-radius: 50%;
  border: none;
  height: 100px;
  width: 100px;
  margin: auto;
  cursor: pointer;
}
.main-screen-content .play:before {
  content: "";
  position: absolute;
  background: #9D2929;
  opacity: 0.5;
  height: 132px;
  width: 132px;
  border-radius: 50%;
  left: -17px;
  top: -17px;
}
.main-screen-content .play-img {
  position: relative;
  transform: translateX(4px);
}
.main-screen .series {
  position: relative;
  max-width: 420px;
  animation-delay: 1s;
}
.main-screen .series .swiper-container {
  max-width: 420px;
  margin-left: 0;
}
.main-screen .series .swiper-container .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 13px 13px;
  width: 180px;
  height: 125px;
  border-radius: 8px;
}
.main-screen .series .swiper-container .card-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
.main-screen .series .swiper-container .card-suptitle {
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 2px;
}
.main-screen .series .swiper-container .series1 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/card-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.main-screen .series .swiper-container .series2 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/card-img2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.main-screen .series .arrow {
  background: transparent;
  border: none;
  width: 32px;
  height: 23px;
  top: 40%;
  right: -32px;
  position: absolute;
  cursor: pointer;
}

.footer {
  padding: 20px 0;
  background: #141218;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content .left-site .copy {
  opacity: 0.4;
  font-size: 14px;
  line-height: 20px;
}
.footer-content .right-site .footer-menu {
  display: flex;
}
.footer-content .right-site .footer-menu-item {
  list-style-type: none;
}
.footer-content .right-site .footer-menu-link {
  text-decoration: none;
  margin-left: 25px;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.4;
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 980px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }

  .header .m-menu {
    display: block;
    position: absolute;
    border: none;
    background: transparent;
    right: 20px;
    top: 38px;
    z-index: 5;
  }
  .header .active {
    display: flex;
  }
  .header-wrapper {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #9D2929;
    width: 250px;
    justify-content: center;
    text-align: center;
    z-index: 5;
  }
  .header-wrapper .logo {
    margin-top: 20px;
  }
  .header-wrapper .menu {
    flex-direction: column;
    margin: 25px 0 0;
    order: 3;
  }
  .header-wrapper .menu-item {
    margin-bottom: 17px;
  }
  .header-wrapper .social {
    padding-top: 25px;
    order: 2;
  }
  .header-wrapper .social-link {
    margin: 10px;
  }

  .main-screen {
    z-index: 1;
  }
  .main-screen-content .play {
    display: none;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-content .right-site .footer-menu {
    padding-left: 0;
  }
  .footer-content .right-site .footer-menu-link {
    margin-left: 0;
    margin-right: 25px;
  }
}
@media (max-width: 500px) {
  body {
    background-position: center;
  }

  .container {
    max-width: 450px;
  }

  .main-screen {
    padding: 170px 0 130px;
  }
  .main-screen-content .main .rating-grade {
    font-size: 14px;
  }
  .main-screen-content .main-title {
    font-size: 56px;
    line-height: 66px;
  }
  .main-screen .series {
    max-width: 67%;
  }
  .main-screen .series .swiper-container {
    max-width: 80%;
  }
}